{% extends 'base.html' %}



{% block content %}
  <h1>Signup</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <h1> add property bic </h1>

  <style>
    label {
      color: yellow;
    }
  </style>

  <form method="post">
    <label for="type">Type:</label>
    <input type="text" id="#type" name="type" required>

    <label for="location">Location:</label>
    <input type="text" id="location" name="location" required>

    <label for="city">City:</label>
    <input type="text" id="city" name="city" required>

    <label for="state">State:</label>
    <input type="text" id="state" name="state" required>

    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" required>

    <label for="availability">Availability:</label>
    <select id="availability" name="availability" required>
      <option value="True">Available</option>
      <option value="False">Not Available</option>
    </select>

    <label for="neighborhood_id">Neighborhood ID:</label>
    <input type="number" id="neighborhood_id" name="neighborhood_id" required>

    <label for="agent_id">Agent ID:</label>
    <input type="number" id="agent_id" name="agent_id" required>

    <button type="submit">Add Property</button>
  </form>




{% endblock %}
