<form method="POST" action="{{ url_for('add_credit_card') }}">
  <label for="cardnumber">Card Number:</label>
  <input type="text" id="cardnumber" name="cardnumber" required>

  <label for="expirationdate">Expiration Date:</label>
  <input type="date" id="expirationdate" name="expirationdate" required>

  <label for="cvv">CVV:</label>
  <input type="text" id="cvv" name="cvv" required>

  <label for="paymentaddress">Payment Address:</label>
  <select id="paymentaddress_id" name="paymentaddress_id" required>
    {% for address in addresses %}
      <option value="{{ address[0] }}">{{ address[0] }}</option>
    {% endfor %}
  </select>

  <input type="submit" value="Add Credit Card">
</form>
