{% extends 'renter_view.html' %}

<style>
  th{
    color: yellow;
  }

  .yellow{
    color: yellow;
  }

</style>

{% block content %}
  <h1 class="yellow">All Propertie!!s</h1>
  <table>
    <tr class="yellow">
      <th class="yellow">ID</th>
      <th class="yellow">Type</th>
      <th class="yellow">Location</th>
      <th class="yellow">Agent ID</th>
      <th class="yellow">City</th>
      <th class="yellow">State</th>
      <th class="yellow">Description</th>
      <th class="yellow">Price</th>
      <th class="yellow">Availability</th>
      <th class="yellow">Neighborhood ID</th>

      <th> Book </th>

    </tr>
    {% for property in properties %}
      <tr>
        <td><a href="{{ url_for('modify_property', id=property[0]) }}">{{ property[0] }}</a></td>
        <td>{{ property[1] }}</td>
        <td>{{ property[2] }}</td>
        <td>{{ property[3] }}</td>
        <td>{{ property[4] }}</td>
        <td>{{ property[5] }}</td>
        <td>{{ property[6] }}</td>
        <td>{{ property[7] }}</td>
        <td>{{ property[8] }}</td>
        <td>{{ property[9] }}</td>


        <td><a href="{{ url_for('book_property', id=property[0]) }}"> click to book</a></td>


      </tr>
    {% endfor %}
  </table>


{% endblock %}
