{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
  <div class="col-xl-6 col-lg-8">
    <h1> Real estate management system <span>.</span></h1>
    <h2>We are team of talented digital marketers</h2>
  </div>
</div>

<div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
  <div class="col-xl-2 col-md-4">
    <div class="icon-box">
      <i class="ri-store-line"></i>
      <h3><a href="">Lorem Ipsum</a></h3>
    </div>
  </div>
  <div class="col-xl-2 col-md-4">
    <div class="icon-box">
      <i class="ri-bar-chart-box-line"></i>
      <h3><a href="">Dolor Sitema</a></h3>
    </div>
  </div>
  <div class="col-xl-2 col-md-4">
    <div class="icon-box">
      <i class="ri-calendar-todo-line"></i>
      <h3><a href="">Sedare Perspiciatis</a></h3>
    </div>
  </div>
  <div class="col-xl-2 col-md-4">
    <div class="icon-box">
      <i class="ri-paint-brush-line"></i>
      <h3><a href="">Magni Dolores</a></h3>
    </div>
  </div>
  <div class="col-xl-2 col-md-4">
    <div class="icon-box">
      <i class="ri-database-2-line"></i>
      <h3><a href="">Nemos Enimade</a></h3>
    </div>
  </div>
</div>

<h1>{% block title %} Agents {% endblock %}</h1>
    {% for book in agents %}
        <div class='book'>
            <h3> {{ book[0] }} - {{ book[1] }} BY {{ book[2] }} - {{ book[3] }} - {{ book[4] }} - {{ book[5] }}- {{ book[6] }} </h3>
            <h3> <p>({{ book }} pages)</p></h3>

        </div>
    {% endfor %}


{% endblock %}



