{% extends 'renter_view.html' %}

{% block content %}

<h2> hello </h2>
<!DOCTYPE html>
<html>
<head>
	<title>Make Payment</title>
</head>
<body>
	<h1>Make Payment</h1>

	<form method="POST">
		<label for="payment_status">Payment Status:</label>
		<select name="payment_status" id="payment_status">
			<option value="paid">Paid</option>
			<option value="unpaid">Unpaid</option>
		</select>
		<br><br>
		<label for="credit_card_id">Credit Card:</label>
		<select name="credit_card_id" id="credit_card_id">
			{% for card in creditcards %}
			<option value="{{ card[0] }}">{{ card[0] }}</option>
			{% endfor %}
		</select>
		<br><br>
		<label for="days_of_stay">Days of Stay:</label>
		<input type="number" name="days_of_stay" id="days_of_stay">
		<br><br>
		<input type="submit" value="Submit">


{% endblock %}
