{% extends 'property_view.html' %}

{% block content %}
  <h1>All Properties</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Location</th>
      <th>Agent ID</th>
      <th>City</th>
      <th>State</th>
      <th>Description</th>
      <th>Price</th>
      <th>Availability</th>
      <th>Neighborhood ID</th>
      <th>Delete</th>

    </tr>
    {% for property in properties %}
      <tr>
        <td><a href="{{ url_for('modify_property', id=property[0]) }}">{{ property[0] }}</a></td>
        <td>{{ property[1] }}</td>
        <td>{{ property[2] }}</td>
        <td>{{ property[3] }}</td>
        <td>{{ property[4] }}</td>
        <td>{{ property[5] }}</td>
        <td>{{ property[6] }}</td>
        <td>{{ property[7] }}</td>
        <td>{{ property[8] }}</td>
        <td>{{ property[9] }}</td>
        <td><a href="{{ url_for('delete_property', id=property[0]) }}">{{ property[0] }}</a></td>
      </tr>
    {% endfor %}
  </table>


{% endblock %}
